USE [master]
GO
/****** Object:  Database [Northwind_Metadata]    Script Date: 12/08/2018 4:07:51 a. m. ******/
CREATE DATABASE [Northwind_Metadata]
GO
USE [Northwind_Metadata]
GO
/****** Object:  Table [dbo].[EtlExecution]    Script Date: 12/08/2018 4:07:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtlExecution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[NombreUsuario] [varchar](100) NULL,
	[TotalRegistros] [int] NULL,
	[EtlLoad] [datetime] NULL,
 CONSTRAINT [PK_EtlExecution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
