USE [master]
GO
/****** Object:  Database [Northwind_Stage]    Script Date: 12/08/2018 4:06:19 a. m. ******/
CREATE DATABASE [Northwind_Stage]
GO
USE [Northwind_Stage]
GO
/****** Object:  Table [dbo].[Stage_Dim_CategoriaProducto]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_Dim_CategoriaProducto](
	[Categoria_Codigo] [int] NOT NULL,
	[Categoria_Nombre] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_Dim_Cliente]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_Dim_Cliente](
	[Cliente_Codigo] [char](5) NOT NULL,
	[Cliente_Nombre] [varchar](40) NOT NULL,
	[Cliente_Compania] [varchar](40) NULL,
	[Cliente_Direccion] [varchar](60) NULL,
	[Cliente_Ciudad] [varchar](15) NULL,
	[Cliente_Region] [varchar](15) NULL,
	[Cliente_Pais] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_Dim_Empleado]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_Dim_Empleado](
	[Empleado_Codigo] [int] NOT NULL,
	[Empleado_NombreCompleto] [varchar](70) NOT NULL,
	[Empleado_Direccion] [varchar](120) NULL,
	[Empleado_Ciudad] [varchar](15) NULL,
	[Empleado_Region] [varchar](15) NULL,
	[Empleado_Pais] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_Dim_Producto]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_Dim_Producto](
	[Producto_Codigo] [int] NOT NULL,
	[Producto_Nombre] [varchar](80) NOT NULL,
	[Producto_PUnitario] [decimal](15, 2) NULL,
	[Producto_Categoria_SKey] [int] NULL,
	[ProveedorNombre] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_CategoriaProducto]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_CategoriaProducto](
	[Categoria_Codigo] [int] NOT NULL,
	[Categoria_Nombre] [varchar](15) NOT NULL,
	[ETLExecution] [int] NULL,
	[ETLLoad] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Cliente]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Cliente](
	[Cliente_Codigo] [char](5) NOT NULL,
	[Cliente_Nombre] [varchar](40) NOT NULL,
	[Cliente_Compania] [varchar](40) NULL,
	[Cliente_Direccion] [varchar](60) NULL,
	[Cliente_Ciudad] [varchar](15) NULL,
	[Cliente_Region] [varchar](15) NULL,
	[Cliente_Pais] [varchar](15) NULL,
	[Cliente_Postal] [varchar](10) NULL,
	[ETLExecution] [int] NULL,
	[ETLLoad] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Empleado]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Empleado](
	[Empleado_Codigo] [int] NOT NULL,
	[Empleado_Apellido] [varchar](40) NULL,
	[Empleado_Nombre] [varchar](20) NULL,
	[Empleado_NombreCompleto] [varchar](70) NULL,
	[Empleado_Direccion] [varchar](120) NULL,
	[Empleado_Ciudad] [varchar](15) NULL,
	[Empleado_Region] [varchar](15) NULL,
	[Empleado_Pais] [varchar](15) NULL,
	[Empleado_Postal] [varchar](10) NULL,
	[ETLLoad] [datetime] NULL,
	[ETLExecution] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Producto]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Producto](
	[Producto_Codigo] [int] NOT NULL,
	[Producto_Nombre] [varchar](50) NULL,
	[Producto_PUnitario] [decimal](15, 2) NULL,
	[CategoriaProducto_Codigo] [int] NULL,
	[ProveedorNombre] [varchar](40) NULL,
	[ETLExecution] [int] NULL,
	[ETLLoad] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Tiempo]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Tiempo](
	[Tiempo_Skey] [int] IDENTITY(1,1) NOT NULL,
	[Tiempo_FechaActual] [datetime] NOT NULL,
	[Tiempo_Anio] [int] NOT NULL,
	[Tiempo_Trimestre] [int] NOT NULL,
	[Tiempo_Mes] [int] NOT NULL,
	[Tiempo_Semana] [int] NOT NULL,
	[Tiempo_DiaDeAnio] [int] NOT NULL,
	[Tiempo_DiaDeMes] [int] NOT NULL,
	[Tiempo_DiaDeSemana] [int] NOT NULL,
	[Tiempo_EsFinSemana] [int] NULL,
	[Tiempo_EsFeriado] [int] NULL,
	[Tiempo_Comentarios] [varchar](20) NULL,
	[Tiempo_SemanaCalendario] [int] NOT NULL,
	[Tiempo_SemanasDelAñoLaborales] [int] NOT NULL,
	[Tiempo_AñoBisiesto] [tinyint] NOT NULL,
	[Tiempo_Descripcion_DiaDeSemana] [varchar](10) NULL,
	[Tiempo_Descripcion_Mes] [varchar](10) NULL,
	[Tiempo_Descripcion_Trimestre] [varchar](15) NULL,
	[Tiempo_Descripcion_Semestre] [varchar](15) NULL,
 CONSTRAINT [IX_StgTiempo] UNIQUE CLUSTERED 
(
	[Tiempo_FechaActual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Ventas]    Script Date: 12/08/2018 4:06:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Ventas](
	[Cliente_Codigo] [char](5) NOT NULL,
	[Empleado_Codigo] [int] NULL,
	[Producto_Codigo] [int] NULL,
	[Ventas_OrderDate] [datetime] NULL,
	[Ventas_NOrden] [int] NULL,
	[Ventas_Monto] [decimal](15, 2) NULL,
	[Ventas_Unidades] [int] NULL,
	[Ventas_PUnitario] [decimal](15, 2) NULL,
	[Ventas_Descuento] [decimal](15, 2) NULL,
	[ETLExecution] [int] NULL,
	[ETLLoad] [datetime] NULL,
 CONSTRAINT [IX_StgVenta] UNIQUE CLUSTERED 
(
	[Cliente_Codigo] ASC,
	[Empleado_Codigo] ASC,
	[Producto_Codigo] ASC,
	[Ventas_OrderDate] ASC,
	[Ventas_NOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
